[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/superglue
	url = git@github.com:magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/caps"]
	path = third_party/caps
	url = git@github.com:GrumpyZhou/caps.git
[submodule "third_party/d2-net"]
	path = third_party/d2net
	url = git@github.com:mihaidusmanu/d2-net.git
[submodule "third_party/r2d2"]
	path = third_party/r2d2
	url = git@github.com:naver/r2d2.git
[submodule "third_party/sparse-ncnet"]
	path = third_party/sparsencnet
	url = git@github.com:ignacio-rocco/sparse-ncnet.git
[submodule "third_party/hloc"]
	path = third_party/hloc
	url = git@github.com:GrumpyZhou/Hierarchical-Localization.git
	branch = extend_base_dev
